[Desktop Entry]
Type=Application
Name=queSettings
Comment=Settings Manager
Icon=applications-system
TryExec=queSettings
Exec=queSettings
Categories=System;Monitor;Qt;
